@model Session

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-primary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Create Session</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row">
            <input hidden asp-for="ApplicationUserId" />
            <div class="border p-3">
                @* <div asp-validation-summary="All"></div> *@
                <div class="form-floating py-2 col-12">
                    <input asp-for="SessionName" class="form-control border-0 shadow" />
                    <label asp-for="SessionName" class="ms-2" ></label>
                    <span asp-validation-for="SessionName" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Date" class="form-control border-0 shadow" />
                    <label asp-for="Date" class="ms-2" ></label>
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Latitude" class="form-control border-0 shadow" />
                    <label asp-for="Latitude" class="ms-2"></label>
                    <span asp-validation-for="Latitude" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Longitude" class="form-control border-0 shadow" />
                    <label asp-for="Longitude" class="ms-2"></label>
                    <span asp-validation-for="Longitude" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <div id="map" style="height: 400px; width: 100%;"></div>
                </div>

                <div class="row mt-3">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Create</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Session" asp-action="Index" class="btn btn-secondary border form-control">
                            Back to List
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{
        <script>
            (g => { var h, a, k, p = "The Google Maps JavaScript API", c = "google", l = "importLibrary", q = "__ib__", m = document, b = window; b = b[c] || (b[c] = {}); var d = b.maps || (b.maps = {}), r = new Set, e = new URLSearchParams, u = () => h || (h = new Promise(async (f, n) => { await (a = m.createElement("script")); e.set("libraries", [...r] + ""); for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]); e.set("callback", c + ".maps." + q); a.src = `https://maps.${c}apis.com/maps/api/js?` + e; d[q] = f; a.onerror = () => h = n(Error(p + " could not load.")); a.nonce = m.querySelector("script[nonce]")?.nonce || ""; m.head.append(a) })); d[l] ? console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n)) })
                ({ key: "AIzaSyDmGRUQDtImxoadNidg9q9RPAQkOMXm4V4", v: "weekly" });</script>
        <partial name="_ValidationScriptsPartial" />
        <script src="//polyfill.io/v3/polyfill.min.js?features=default"></script>
        <script src="~/js/maps.js"></script>
        
    }
}