@model Session

@{
    var location = new Session { Latitude = Model.Latitude, Longitude = Model.Longitude };
    var jsonLocation = Newtonsoft.Json.JsonConvert.SerializeObject(location);
}

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-primary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Edit Session</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post">
            <input hidden asp-for="ApplicationUserId" />
            <div class="border p-3 mt-4">
                <div class="row pb-2">
                    <h2 class="text-primary">Edit Session</h2>
                    <hr />
                </div>
                @* <div asp-validation-summary="All"></div> *@
                <div class="form-floating py-2 col-12">
                    <input asp-for="SessionName" class="form-control border-0 shadow" />
                    <label asp-for="SessionName" class="ms-2" ></label>
                    <span asp-validation-for="SessionName" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Date" class="form-control border-0 shadow" />
                    <label asp-for="Date" class="ms-2"></label>
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Latitude" class="form-control border-0 shadow" />
                    <label asp-for="Latitude" class="ms-2"></label>
                    <span asp-validation-for="Latitude" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Longitude" class="form-control border-0 shadow" />
                    <label asp-for="Longitude" class="ms-2"></label>
                    <span asp-validation-for="Longitude" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <div id="map" style="height: 400px; width: 100%;"></div>
                </div>

                <div class="row mt-3">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Update</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Session" asp-action="Index" class="btn btn-secondary border form-control">
                            Back
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDmGRUQDtImxoadNidg9q9RPAQkOMXm4V4&libraries=places"></script>
        <script src="//polyfill.io/v3/polyfill.min.js?features=default"></script>
        <script>var location = @Html.Raw(location);</script>
        <script src="~/js/mapsEdit.js"></script>
        <script>initMap();</script>
        <partial name="_ValidationScriptsPartial" />
    }
}