@model CatchMore.Models.ViewModels.CatchVM

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-primary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Edit Catch</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <div class="border p-3">
                @* <div asp-validation-summary="All"></div> *@
                <div class="form-floating py-2 col-12">
                    <input asp-for="Catch.Date" class="form-control border-0 shadow" />
                    <label asp-for="Catch.Date" class="ms-2"></label>
                    <span asp-validation-for="Catch.Date" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Catch.Species" class="form-control border-0 shadow" />
                    <label asp-for="Catch.Species" class="ms-2"></label>
                    <span asp-validation-for="Catch.Species" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Catch.Length" class="form-control border-0 shadow" />
                    <label asp-for="Catch.Length" class="ms-2"></label>
                    <span asp-validation-for="Catch.Length" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Catch.Weight" class="form-control border-0 shadow" />
                    <label asp-for="Catch.Weight" class="ms-2"></label>
                    <span asp-validation-for="Catch.Weight" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="Catch.Description" class="form-control border-0 shadow" />
                    <label asp-for="Catch.Description" class="ms-2"></label>
                    <span asp-validation-for="Catch.Description" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input type="file" class="form-control border-0 shadow" />
                    <label asp-for="Catch.Image" class="ms-2"></label>
                </div>
                <div class="form-floating py-2 col-12">
                    <label asp-for="Catch.SessionId" class="ms-2"></label>
                    <select asp-for="Catch.SessionId" asp-items="@Model.SessionList" class="form-select border-0 shadow">
                        <option disabled selected>--Select Session--</option>
                    </select>
                    <span asp-validation-for="Catch.SessionId" class="text-danger"></span>
                </div>

                <div class="row mt-3">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Edit</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Catch" asp-action="Index" class="btn btn-secondary border form-control">
                            Back to List
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}