@model List<Catch>

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-primary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Catch List</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Catch" asp-action="Create" class="btn btn-primary">
                    <i class="bi bi-plus-square"></i>   Create
                </a>
            </div>
        </div>
        <table id="tblData" class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Catch Date
                    </th>
                    <th>
                        Species
                    </th>
                    <th>
                        Length
                    </th>
                    <th>
                        Weight
                    </th>
                    <th>
                        Session Name
                    </th>
                    <th></th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section Scripts{
    <script src="~/js/catch.js"></script>
}